<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block titleBlock %} titleBlock {% endblock %}</title>
    {% block metaBlock %}{% endblock%}
</head>
<body>
{% block contentBlock %}{% endblock %}
</body>
</html>