{% extends 'AcmeDemoBundle::layout.html.twig' %}

{% block titleBlock %}MJMGames - Welcome{% endblock %}
{% block metaBlock %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}" />
    {#<script src="{{ asset('js/script.js') }}" type="text/javascript"></script>#}
{% endblock %}
{% block content_header '' %}

{% block contentBlock %}
    <div class="page page-home">
        <div class="header">
            <div>
                <a href="/" id="logo"><img src="{{ asset('images/logoMJM.png') }}" alt="MJMgames - logo" height="70px"></a> <span>Sme na správnej ceste, no všetko má svoj čas</span>
                <ul>
                    <li class="selected">
                        <a href="/">Domov</a> <span>Hlavná stránka</span>
                    </li>
                    <li>
                        <a href="/projects">Projekty</a> <span>Zoznam nasich projektov</span>
                    </li>
                    <li>
                        <a href="/informations">O nás</a> <span>Informacie o nas</span>
                    </li>
                    <li>
                        <a href="/contact">Kontakt</a> <span>Kontakt a adresa</span>
                    </li>
                </ul>
                <div class="featured">
                    <h3>Top projekt alebo reklama</h3>
                    <p>
                        Popis top projektu.
                    </p>
                    <a href="/news">Read more&#62;&#62;</a>
                </div>
            </div>
        </div>
        <div class="body">
            <div class="home">
                <h4>Novinky</h4>
                <ul>
                    <li>
                        <a href="/news"><img src="{{ asset('images/icon-logo.jpg') }}" alt=""></a>
                        <div>
                            <h3>News Title One Example Title</h3>
                            <span>Posted on 12/12/12</span>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dapibus fermentum elit. Suspendisse
                            </p>
                            <a href="news.html">Read more&#62;&#62;</a>
                        </div>
                    </li>
                    <li>
                        <a href="news.html"><img src="{{ asset('images/icon-logo.jpg') }}" alt=""></a>
                        <div>
                            <h3>News Title One Example Title</h3>
                            <span>Posted on 12/12/12</span>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dapibus fermentum elit. Suspendisse
                            </p>
                            <a href="news.html">Read more&#62;&#62;</a>
                        </div>
                    </li>
                    <li>
                        <a href="news.html"><img src="{{ asset('images/icon-logo.jpg') }}" alt=""></a>
                        <div>
                            <h3>News Title One Example Title</h3>
                            <span>Posted on 12/12/12</span>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dapibus fermentum elit. Suspendisse
                            </p>
                            <a href="news.html">Read more&#62;&#62;</a>
                        </div>
                    </li>
                    <li>
                        <a href="news.html"><img src="{{ asset('images/icon-logo.jpg') }}" alt=""></a>
                        <div>
                            <h3>News Title One Example Title</h3>
                            <span>Posted on 12/12/12</span>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dapibus fermentum elit. Suspendisse
                            </p>
                            <a href="news.html">Read more&#62;&#62;</a>
                        </div>
                    </li>
                    <li>
                        <a href="news.html"><img src="{{ asset('images/icon-logo.jpg') }}" alt=""></a>
                        <div>
                            <h3>News Title One Example Title</h3>
                            <span>Posted on 12/12/12</span>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dapibus fermentum elit. Suspendisse
                            </p>
                            <a href="news.html">Read more&#62;&#62;</a>
                        </div>
                    </li>
                    <li>
                        <a href="news.html"><img src="{{ asset('images/icon-logo.jpg') }}" alt=""></a>
                        <div>
                            <h3>News Title One Example Title</h3>
                            <span>Posted on 12/12/12</span>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dapibus fermentum elit. Suspendisse
                            </p>
                            <a href="news.html">Read more&#62;&#62;</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="sidebar">
                <h4>Podujatia</h4>
                <ul>
                    <li>
                        <a href="news.html"><img src="{{ asset('images/image.jpg') }}" alt=""></a>
                        <div>
                            <h3>Featured Title One</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dapibus fermentum elit. Suspendisse potenti. Cras eget
                            </p>
                            <a href="news.html">Read more&#62;&#62;</a>
                        </div>
                    </li>
                    <li>
                        <a href="news.html"><img src="{{ asset('images/image.jpg') }}" alt=""></a>
                        <div>
                            <h3>Featured Title One</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dapibus fermentum elit. Suspendisse potenti. Cras eget
                            </p>
                            <a href="news.html">Read more&#62;&#62;</a>
                        </div>
                    </li>
                </ul>
                <h4>Sign-up For Updates</h4>
                <form action="index.html">
                    <input type="text" onclick="this.value='';" onfocus="this.select()" onblur="this.value=!this.value?'Enter e-mail address':this.value;" value="Enter e-mail address" id="email">
                    <input type="submit" value="">
                </form>
            </div>
            <div class="section">
                <div>
                    <h4>Gallery</h4>
                    <ul>
                        <li>
                            <a href="gallery.html"><img src="{{ asset('images/image.jpg') }}" alt=""></a>
                        </li>
                        <li>
                            <a href="gallery.html"><img src="{{ asset('images/image.jpg') }}" alt=""></a>
                        </li>
                        <li>
                            <a href="gallery.html"><img src="{{ asset('images/image.jpg') }}" alt=""></a>
                        </li>
                    </ul>
                </div>
                <div class="connect">
                    <h4>Sociálne siete</h4>
                    <a href="TWITTER" id="twitter">twitter</a>
                    <a href="https://www.facebook.com/pages/MJMgames-sro/391379564252924" id="fb">fb</a>
                    <a href="GOOGLEPLUS" id="googleplus">google+</a>
                    <a href="YOUTUBE" id="youtube">youtube</a>
                </div>
            </div>
        </div>
        <div class="footer">
            <div>
                <ul>
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="about.html">About</a>
                    </li>
                    <li>
                        <a href="#">Blog</a>
                    </li>
                    <li>
                        <a href="contact.html">Contact</a>
                    </li>
                </ul>
                <p>
                    &#169; Copyright &#169; 2032.Company name all rights reserved
                </p>
            </div>
        </div>
    </div>
{% endblock %}